* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #7fabaf;
  line-height: 2;
}

.header-container {
  margin: 0 auto;
  border-bottom: 3px solid #0b9ec4;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-basis: 1280px;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
  line-height: 60px;
  color: #0b9ec4;
  cursor: help;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-item a:hover,
.nav-item a:focus {
  color: #fff;
  background-color: #0b9ec4;
  transition: all 0.7s ease-out;
}

/*smooth scroll*/

html {
  scroll-behavior: smooth;
}

.section {
  width: calc(50% - 30px);
  border-bottom: 2px solid #0b9ec4;
  padding: 30px 0px;
}

.section a {
  color: #0b9ec4;
  text-decoration: none;
  transition: color 0.5s;
}

.section-education {
  border-bottom: none;
}

.section-language {
  border-bottom: none;
}

/*main*/

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px;
  max-width: 1280px;
  margin: 0 auto;
}

.main-container-name {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.section-photo-name-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.section-title-name {
  display: flex;
  font-size: 50px;
  color: #0b9ec4;
  font-family: "Montserrat", sans-serif;
}

.section-title-name-second-stripe {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  justify-content: center;
}

.section {
  width: calc(50% - 20px);
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #0b9ec4;
}

.section-photo {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 3px solid #0b9ec4;
}

.section-profile-round-pic {
  display: flex;
  justify-content: flex-start;

  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.list-style {
  margin: 0 20px;
}

.contacts-list {
  list-style: none;
}

.contacts-list span {
  color: #0b9ec4;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
  .nav-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    line-height: 15px;
    transition: 0.3s;
    font-weight: 400;
    flex: 12 3 30em;
  }

  .nav-link {
    line-height: 30px;
  }
  .section-photo {
    display: flex;
    flex-direction: column;
  }

  .section-photo-pic-part {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 568px) {
  .section-title-name {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    color: #0b9ec4;
    font-family: "Montserrat", sans-serif;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  border-top: 3px solid #0b9ec4;
  color: #0b9ec4;
}

.rs-logo {
  width: 121px;
  height: 45px;
  background-image: url(./img/rsschool.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.githublink {
  color: #0b9ec4;
}
